/* General Styles */
body {
    font-family: "IBM Plex Sans", Arial, sans-serif; /* IBM Plex Sans as primary font */
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6; /* Improve readability */
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0.5rem 0; /* Slightly more padding for visual balance */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Header shadow for depth */
    overflow-x: hidden;
}

header h1 a {
    color: white; /* Match the header text color */
    text-decoration: none; /* Remove underline */
    font-size: inherit; /* Keep the font size of the h1 */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

header h1 a:hover {
    color: #ffcc00; /* Change the color on hover */
    text-shadow: 0 2px 4px rgba(255, 204, 0, 0.5); /* Add a glow effect */
}

nav {
    display: flex;
    justify-content: space-between; /* Align navbar items and search bar */
    align-items: center; /* Center vertically */
    padding: 0.75rem 2rem;
    background-color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.navbar {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    
    margin: 0;
    text-align:justify;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 600; /* Slightly thicker font for emphasis */
    padding: 0.75rem 1rem;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
}

.navbar a:hover {
    background-color: #575757;
    color: #ffcc00; /* Highlight color on hover */
}


section {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center; /* Center-align section content */
}

h2 {
    color: #8b2424;
    font-weight: 700; /* Bold headings */
    margin-bottom: 1rem; /* Add spacing below headings */
}

/* Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.gallery img {
    width: auto;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth animation */
}

.gallery img:hover {
    transform: scale(1.02); /* Slight zoom on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

/* Footer Styles */
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative; /* Use relative if it's within the document flow */
    z-index: 5; /* Keep it above background elements */
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.5;
}

footer p {
    margin: 0;
}
